fastapi
uvicorn
requests
httpx
newspaper3k
trafilatura
python-dotenv
google-generativeai
gunicorn
markdown2
beautifulsoup4
scikit-learn
langchain-google-genai
langchain
langchain_community
langchain_text_splitters
faiss-cpu
